name: RPA Automation CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-rpa:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build --no-cache -t rpa-bot .

      - name: Run automation
        run: docker run rpa-bot
